.wy-side-nav-search {
    background-color: lightgray;
}

.wy-menu-vertical {
    background-color: lightgray;
}

.wy-menu-vertical a {
    color: black;
}

.wy-menu-vertical.hover {
    color: black;
    background-color: #ad0e0e;
}

.wy-nav-top {
    background: lightgray;
}

.wy-nav-top a {
    color: #111111;
}

.wy-nav-top a::after {
    background: white;
    background: linear-gradient(110deg,
            #ad0e0e 0%,
            #ad0e0e 53%,
            transparent 54%,
            transparent 55%,
            #dbb03b 56%,
            #dbb03b 65%,
            transparent 66%,
            transparent 67%,
            black 68%);
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 2px;
    width: 100%;
}


.caption {
    background-color: lightgray;
}

.caption-text {
    color: black;
}

.caption-text {
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    text-transform: lowercase;
}

.caption-text::after {
    background: white;
    background: linear-gradient(110deg,
            #ad0e0e 0%,
            #ad0e0e 53%,
            transparent 54%,
            transparent 55%,
            #dbb03b 56%,
            #dbb03b 65%,
            transparent 66%,
            transparent 67%,
            black 68%);
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 2px;
    width: 100%;
}

a.reference.internal.current {
    background-color: white;
    border-bottom: 1px dotted black;
}

a.reference.internal:hover {
    background-color: #eeeeee;
}

a.reference.internal:focus {
    color: black;
    background-color: #eeeeee;
    -webkit-tap-highlight-color: #eeeeee;
}

a.reference.internal:f {
    color: black;
    background-color: #eeeeee;
}

.wy-side-scroll {
    background-color: lightgray;
}

.rst-content code {
    color: #ad0e0e;
}

.wy-breadcrumbs a:visited {
    color: #ad0e0e;
}

.section a:visited {
    color: #ad0e0e;
}

.section a:hover {
    color: #dbb03b;
}

.wy-side-nav-search input[type="text"] {
    border-color: #444444;
    border-radius: 7px;
    background-color: #eeeeee;
}

footer a {
    color: grey;
}

footer a:visited {
    color: grey;
}

footer a:hover {
    color: #ad0e0e;
}